$primary: #ff5f00;
$primary-lighter: #ff8740;
$primary-lightest: #ffa773;
$primary-darker: #bf6530;
$primary-darkest: #a63e00;

$secondary: #00a67c;
$secondary-lighter: #35c2ab;
$secondary-lightest: #5fd2b5;
$secondary-darker: #1f7c65;
$secondary-darkest: #006c51;